@model IEnumerable<DBFirstEFinApp.Models.SpainCustomerViewModel>

@{
    ViewData["Title"] = "SpainCustomers";
}

<h1>SpainCustomers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cname)
                </td>
            </tr>
        }
    </tbody>
</table>
