@model IEnumerable<MVC_demo.Models.Employee>
@{
    ViewData["Title"] = "collectionobjpassing";
}

<h1>collectionobjpassing</h1>
<style>
	table {
		border-collapse: collapse;
		width: 50%;
	}

	table, th, td {
		border: 2px solid black;
	}

	th, td {
		padding: 8px;
		text-align: left;
	}
</style>

<table>
	<thead>
		<tr>
			<th>EmployeeID</th>
			<th>EmpName</th>
			<th>Salary</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var emp in Model)
		{
			<tr>
				<td>@emp.EmployeeID</td>
				<td>@emp.EmpName</td>
				<td>@emp.Salary</td>
				<td>
					<img src="@emp.ImageUrl" alt="@emp.EmpName"
					width="100" height="100" />
				</td>
			</tr>
		}
	</tbody>
</table>

