@model MVC_demo.Models.EmpdeptViewModel
@{
    ViewData["Title"] = "mixobjpassing";
}

<h1>mixobjpassing</h1>

<h2>Date:@Model.date</h2>
<h3>Dept details</h3>
<table border="1" cellpadding="3" cellspacing="3">
    <tr>
        <th>DeptId</th>
        <th>DeptName</th>
    </tr>
    @foreach(var dept in Model.deptlist)
    {
        <tr>
            <td>@dept.DeptId</td>
            <td>@dept.DeptName</td>
        </tr>
    }
</table>
<h3>search emp</h3>
<h1>@Model.emp</h1>
<div>
    <img src="@Model.emp.ImageUrl" alt="@Model.emp.EmpName" width="300" height="300" />
</div>
<div>
    <h2>Employee Details</h2>
    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </p>
    <h2>@Model.emp.Salary</h2>
    <h2><a asp-action="collectionobjpassing">back to list</a></h2>
</div>